.navbar{
    height: 75px;
    border-bottom: 0.5px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 15px;
    color:  black; 
    

    .wrapper{
        width: 100%;
        display: flex;
        padding: 20px;
        justify-content: space-between;
        background-color:  rgb(56, 231, 62);
            

        .search{
            display: flex;
            align-items: center;
            border: 0.5px solid rgb(236, 14, 14);
          
            background-color: antiquewhite;
                    height: 25px;

            input{
                border: none;
                outline: none;
                background-color: transparent;
                
                &::placeholder{
                    font-size: 12px;
                }
            }
        }
        
        .items{
            display: flex;
            align-items: center;
           

            .item{
                display: flex;
                 align-items: center;
                margin-right: 20px;
                position: relative;
               
               

           
            .icon{
                font-size: 30px;
            }
            .avatar{
                height: 40px;
                width: 40px;
                border-radius: 50%;
                }
                .couter{
                    width: 15px;
                    height: 15px;
                    background-color: rgb(253, 13, 13);
                    border-radius: 50%;
                    color: black;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
            }
        }
    }
}